<%- include('partials/header') %>
<div class="results-container">
  <div class="content">
    <header>
      <!-- TODO: REPLACE WITH SEARCH HEADING -->
      <h1>Results Page</h1>
    </header>
    <div class="card-container">
      <!-- TODO: TO LOOP THROUGH DATA -->
      <div class="card">
        <!-- TODO: REPLACE WITH DATA CONTENT -->
        card content
      </div>
    </div>
  </div>
</div>
<%- include('partials/footer') %>
